

<div class="index_box">

		<h2>Please enter your names.</h2>

      
		<form action="player_names" method="post">

		<h3><input type="text" STYLE="color: white; font-size: 17px; background-color: black; border: 2pt outset white" placeholder="Player1 Username" size="20" maxlength="30" name = "player1">


		<h3><input type="text" STYLE="color: white; font-size: 17px; background-color: black; border: 2pt outset white" placeholder="Player2 Username" size="20" maxlength="30" name = "player2">

		<h5><input type="submit" style="font-size: middle; color: white; background-color: black; border: 2pt outset white" value="Enter"/>
		</form>
	<br/>
	<hr/>

		<h1><center>Single Player</center></h1>


		<form action="singleplayer" method="get">


		<h3><input type="text" STYLE="color: white; font-size: 17px; background-color: black; border: 2pt outset white" placeholder="Username" size="20" maxlength="30" name = "singleplayer">

		<h5><input type="submit" style="font-size: middle; color: white; background-color: black; border: 2pt outset white" value="Enter"/>


</div>

<br/>

</form>

</body>

