

<div class="index_box">

		<h2>Please enter your names.</h2>

      
		<form action="player_names" method="post">

		<h3><input type="text" STYLE="color: rgba(138, 0, 2, 1); font-size: 17px; background-color: black; border: 2pt outset rgba(138, 0, 2, 1)" placeholder="Player1 Username" size="20" maxlength="30" name = "player1">


		<h3><input type="text" STYLE="color: rgba(138, 0, 2, 1); font-size: 17px; background-color: black; border: 2pt outset rgba(138, 0, 2, 1)" placeholder="Player2 Username" size="20" maxlength="30" name = "player2">

		<h5><input type="submit" style="font-size: middle; color: rgba(138, 0, 2, 1); background-color: black; border: 2pt outset rgba(138, 0, 2, 1)" value="Enter"/>
		</form>
	<br/>
	<hr/>

		<h1><center>Single Player</center></h1>


		<form action="singleplayer" method="get">


		<h3><input type="text" STYLE="color: rgba(138, 0, 2, 1); font-size: 17px; background-color: black; border: 2pt outset rgba(138, 0, 2, 1)" placeholder="Pick a username" size="20" maxlength="30" name = "player2">

		<h5><input type="submit" style="font-size: middle; color: rgba(138, 0, 2, 1); background-color: black; border: 2pt outset rgba(138, 0, 2, 1)" value="Enter"/>


</div>

<br/>

</form>

</body>

