<body style='background-color: silver'>

<font color=black>

<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" type="text/css" href="/css/styles.css">

<style type="text/css">

body {

</style>

<title></title>

</head>

<body>

</body>

</html>


<i><center><div class="welcome_box"><h1 class="h5_black">Welcome to Hangman!</h1></i>
</div>



<%=yield%>

</i>
























