<div class="loser_box">

	<i><u><center><h1><%= p2_name%> You Lose!</h1></center></u>
	<center><h2>The Word Was <%=password%> </h2></center>
	<br />
	<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/27184-200.png"  height="250" width="250"> 
	<br/>
	<center><a href="/">Click To Start a New Game</a></center>
</div

