<div class="password_box">
		<center><h2> Player 1: <%= p1_name%> Please Pick a word for <%= p2_name%>.</h2>

		<form method="post" action="gameword">

		<input type="password" STYLE="color: white; font-size: 17px; background-color: black; border: 2pt outset white" placeholder="Secret Word" size="20" maxlength="30" name="word"> 

		<input type="submit" style="font-size: middle; color: white; background-color: black; border: 2pt outset white" value="Enter"/>

		<h2> Player 2: <%= p2_name%> You will be guessing <%= p1_name%>'s word. <h2></center>

	
</div>



</form>

