
<div class="guessing_box">

	<center><h2><%= singlep%> Start guessing the letters. <h2></center>

	<div class="blanks_box">   </div>
	</br>
	<form method="post" action="guess">

	<input type="letter" STYLE="color: white; font-size: 17px; background-color: black; border: 2pt outset white" placeholder="Guess" size="2" maxlength="30" name="guess">

	<input type="submit" style="font-size: middle; color: white; background-color: black; border: 2pt outset white" value="Enter Guess"/> 

</div>







	

	
















</form>
