<div class="guessing_box">

	<h1><center><%= sp_name%> Start Guessing. GOOD LUCK!</center></h1>

	<div class="blanks_box"><center><h1 class="blanks-font"><%=word%></h1></center></div>

	<center><h2> <%=message%> </h2></center>

	<center><h2> <font color=white
	><%=message2%> </h2></center>

	</font>

	<form method="post" action="guess">

	<input type="letter" STYLE="color: rgba(138, 0, 2, 1); font-size: 17px; background-color: black; border: 2pt outset rgba(138, 0, 2, 1)" placeholder="Guess" size="2" maxlength="30" name="guess">

	<input type="submit" style="font-size: middle; color: rgba(138, 0, 2, 1); background-color: black; border: 2pt outset rgba(138, 0, 2, 1)" value="Enter Guess"/> 



</div>























































</div>