<div class="youwon_box">

	<i><u><center><h1><%= p2_name%> You Won!</h1></center></u>
	<center><h2>The Word Was <%=password%> </h2></center>
	<img src="http://annsadventuresintravel.com/wp-content/uploads/2015/07/well-done-seal-287x300.png"  height="400" width="400">
	<center><a href="/" style="color: lightblue">Click To Start a New Game</a></center>
	<br/>
	
</div>
	
	 	<audio style="display:none;" src="http://soundbible.com/grab.php?id=1003&type=wav" controls autoplay> 

	    </audio>
	    

	    <audio style="display:none;" src="http://soundbible.com/grab.php?id=1964&type=wav" controls autoplay>
	 

	    </audio>
    
</div>