<div class="youwon_box">

	<i><u><center><h1><%= p2_name%> You Won!</h1></center></u>
	<center><h2>The Word Was <%=password%> </h2></center>
	<img src="https://s-media-cache-ak0.pinimg.com/originals/8b/95/dd/8b95dd30d29b73c3a569a81c430c51cb.png"  height="400" width="250">
	<center><a href="/" style="color: lightblue">Click To Start a New Game</a></center>
	<br/>
	
</div>
	
	 	<audio style="display:none;" src="http://soundbible.com/grab.php?id=1003&type=wav" controls autoplay> 

	    </audio>
	    

	    <audio style="display:none;" src="http://soundbible.com/grab.php?id=1964&type=wav" controls autoplay>
	 

	    </audio>
    
</div>